*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 750px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 550px) {
    html {
      font-size: 40%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }
  body header {
    grid-area: intro; }
  body about {
    grid-area: about; }
  body img-transition {
    grid-area: img-transition; }
  body qualities {
    grid-area: qualities; }
  body experiences {
    grid-area: experiences; }
  body footer {
    grid-area: footer; }

.container {
  display: grid;
  grid-template-rows: 90vh 45vh repeat(2, min-content) 25vh;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f9f7f6;
  grid-template-areas: "intro intro about" "img-transition img-transition img-transition" "qualities qualities qualities" "experiences experiences experiences" "footer footer footer"; }
  @media only screen and (max-width: 550px) {
    .container {
      grid-template-areas: "intro intro intro" "about about about" "qualities qualities qualities" "experiences experiences experiences" "footer footer footer"; } }

.header {
  background-image: linear-gradient(rgba(16, 29, 44, 0.23), rgba(16, 29, 44, 0.93)), url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr repeat(2, min-content) 1fr; }
  .header__title {
    grid-column: 2/3;
    grid-row: 2/3; }
  .header__name {
    grid-column: 2/3;
    grid-row: 3/4; }

.about {
  background-color: #101d2c;
  background: linear-gradient(135deg, #101d2c, #343853);
  display: grid;
  grid-template-columns: minmax(1.5rem, 1fr) minmax(min-content, 30rem) minmax(1.5rem, 1fr);
  grid-template-rows: minmax(2rem, 1fr) repeat(2, min-content) minmax(2rem, 1fr); }
  .about__title {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: end;
    font-size: 3rem; }
  .about__text {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 1.65rem;
    color: grey; }

@media only screen and (max-width: 550px) {
  .about {
    grid-template-columns: repeat(8, 1fr); }
    .about__title, .about__text {
      grid-column: 2/8; } }

.img-transition {
  background-image: url(../img/transition-image.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 25vh, 0 100%); }

.qualities {
  grid-column: 1/4;
  margin: 15rem 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }

.quality {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  .quality__img {
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .quality__text {
    font-size: 2.2rem; }

.experiences {
  background: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(9, 5vw);
  grid-gap: 2rem;
  padding: 1.5rem;
  grid-template-areas: "csharp csharp csharp reactjs reactjs reactjs nodejs nodejs" "csharp csharp csharp reactjs reactjs reactjs nodejs nodejs" "csharp csharp csharp reactjs reactjs reactjs nodejs nodejs" "csharp csharp csharp html5 html5 html5 html5 html5" "js js js html5 html5 html5 html5 html5" "js js js html5 html5 html5 html5 html5" "js js js css3 css3 css3 css3 css3" "js js js css3 css3 css3 css3 css3" "js js js css3 css3 css3 css3 css3"; }
  .experiences__item--1 {
    grid-area: csharp;
    animation: fadein .3s; }
    .experiences__item--1:hover {
      animation: fadeout .3s;
      animation-fill-mode: forwards; }
  .experiences__item--2 {
    grid-area: html5;
    animation: fadein .3s; }
    .experiences__item--2:hover {
      animation: fadeout .3s;
      animation-fill-mode: forwards; }
  .experiences__item--3 {
    grid-area: js;
    animation: fadein .3s; }
    .experiences__item--3:hover {
      animation: fadeout .3s;
      animation-fill-mode: forwards; }
  .experiences__item--4 {
    grid-area: css3;
    animation: fadein .3s; }
    .experiences__item--4:hover {
      animation: fadeout .3s;
      animation-fill-mode: forwards; }
  .experiences__item--5 {
    grid-area: nodejs;
    animation: fadein .3s; }
    .experiences__item--5:hover {
      animation: fadeout .3s;
      animation-fill-mode: forwards; }
  .experiences__item--6 {
    grid-area: reactjs;
    animation: fadein .3s; }
    .experiences__item--6:hover {
      animation: fadeout .3s;
      animation-fill-mode: forwards; }
  .experiences__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

@media only screen and (max-width: 1000px) {
  .experiences {
    grid-template-rows: repeat(3, 5vh);
    grid-template-areas: "nodejs nodejs nodejs nodejs nodejs nodejs nodejs nodejs" "nodejs nodejs nodejs nodejs nodejs nodejs nodejs nodejs" "nodejs nodejs nodejs nodejs nodejs nodejs nodejs nodejs" "html5 html5 html5 html5 html5 html5 html5 html5" "css3 css3 css3 css3 css3 css3 css3 css3" "css3 css3 css3 css3 css3 css3 css3 css3" "js js js js csharp csharp csharp csharp" "js js js js csharp csharp csharp csharp" "js js js js csharp csharp csharp csharp" "js js js js csharp csharp csharp csharp"                              "reactjs reactjs reactjs reactjs reactjs reactjs reactjs reactjs" "reactjs reactjs reactjs reactjs reactjs reactjs reactjs reactjs" "reactjs reactjs reactjs reactjs reactjs reactjs reactjs reactjs"; } }

@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.contact {
  background: #101d2c;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr); }
  .contact__title {
    grid-column: 3 / span 6;
    grid-row: 2 / span 1;
    align-self: end;
    font-size: 2rem; }
  .contact__email {
    grid-column: 3 / span 6;
    grid-row: 3 / span 1;
    font-size: 3rem; }
  .contact__github {
    grid-column: 3 / span 6;
    grid-row: 4 / span 1;
    font-size: 3rem; }

@media only screen and (max-width: 550px) {
  .contact__title, .contact__email, .contact__github {
    grid-column: 2 / span 6; } }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 10rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 2.5rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.5rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }
