// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;
$color-secondary-gradient : #343853;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


/// RESPONSIVE  BREAKPOINTS
$bp-xl: 1400px;
$bp-lg: 1000px;
$bp-md: 750px;
$bp-sm: 550px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 

    @media only screen and (max-width: $bp-md) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-sm) {
        font-size: 40%;
    }
}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;

    & header { grid-area: intro; }
    & about { grid-area: about; }
    & img-transition { grid-area: img-transition; }
    & qualities { grid-area: qualities; }
    & experiences { grid-area: experiences; }
    & footer { grid-area: footer; }

}

.container {
    display: grid;
    grid-template-rows: 90vh 45vh repeat(2, min-content) 25vh;
    grid-template-columns: repeat(3 , 1fr);
    background-color: $color-grey-light-1;
    grid-template-areas: "intro intro about"
                         "img-transition img-transition img-transition"
                         "qualities qualities qualities"
                         "experiences experiences experiences"
                         "footer footer footer";

    @media only screen and (max-width: $bp-sm) {
        grid-template-areas: "intro intro intro"
                         "about about about"
                         "qualities qualities qualities"
                         "experiences experiences experiences"
                         "footer footer footer";
        
    }

                         
}

